.inp {
    min-width: 350px;
    margin-bottom: 10px;
    flex: 1;
    padding: 10px 14px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.inp:focus {
    border-color: #22c55e;
    box-shadow: 0 0 6px rgba(34, 197, 94, 0.4);
}